/* Reset CSS */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo del cuerpo de la página */
  body {
    background-color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5;
    margin: 0;
  }
  
  /* Estilo del encabezado */
  header {
    background-color: #fff;
    color: #4d4d4d;
    padding: 10px 0;
  }

  .ba {
    height: 40px;
    width: auto;
    position: absolute;
    margin-left: 30px;
    
  }

  /* Estilos para la barra de búsqueda */
.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  height: 40px;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 16px;
  float: right;
}

.search-box input[type="text"] {
  background-color: transparent;
  border: none;
  color: #333;
  flex: 1;
  font-size: 16px;
  outline: none;
}

.search-box input[type="submit"] {
  background-color: #313c4e;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 12px;
  padding: 8px 16px;
}

.search-box input[type="submit"]:hover {
  background-color: #FFD100;
  color: #fff;
}

  #introductorio h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  #introductorio p{
    text-align: center;
  }
  
  * p {
    text-align: center;
  }

  /* Estilo de la barra de navegación */
  nav {
    margin-top: 40px;
    background-color: #e7e7e7;
    border-top: 2px solid #FFD100;
    border-bottom: 2px solid #FFD100;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #4d4d4d;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #313c4e;
    color: #fff;
  }
  
  /* Estilo del contenido principal */
  main {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
  } 

  #contenedor-con-sombra {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    padding: 10px;
  }

  #chart_1 svg{
    margin: auto;
  }
  
  main h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0 15px;
  }
  
  main p {
    margin: 15px 0;
  }

  figcaption {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
  }
  
  /* Estilos para el footer */
footer {
  border-top: 2px solid #FFD100;
  background-color: #313c4e;
  color: #fff;
  padding: 32px;
}

footer a {
  color: #fff;
}

footer li {
    margin-bottom: 8px;
    display: inline-block; 
    margin-bottom: 15px;
    margin-right: 30px;
}



footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

