body{
    background-color: palevioletred;
}

#chart_1{
    display: grid;
    place-content: center;  
}

#chart_1 svg{
    background-color: palevioletred;
 
    
}

#legend{
    font-size: larger;
}